<h1>Departments</h1>
<%= link_to "New Department", new_admin_department_path, class: "right" %>
<div class="pagination left"><%= will_paginate @departments %></div>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @departments.each do |department| %>
  <tr>
    <td><%= department.name %> <span class="highlight">(<%= pluralize(department.users.count, "member") %>)</span></td>
    <td><%= link_to 'Edit', edit_admin_department_path(department) %></td>
    <td><%= link_to 'Remove', admin_department_path(department), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<div class="pagination"><%= will_paginate @departments %></div>