<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="right bubble">
		<%= image_tag(@user.image.url(:medium))%>
	</div>
	<div class="field">
		<%= f.label :video, "Upload a Video" %><br />
		<%= f.file_field :video %>
	</div>
	<div class="field">
		<%= f.label :image, "Upload an Image" %><br />
		<%= f.file_field :image %>
	</div>

	<div class="actions">
		<%= submit_tag "Update Profile" %>
	</div>
<% end %>
