<div>
	<div class="right">
		<div class="bubble right">
			<%= image_tag(@user.image.url(:medium))%>
		</div>
		<div class="profile-page clear">
			<div id="video-screenshot">
				<%= render :partial => "users/video", locals: {user: @user}%>
			</div>
		</div>
		
		<div id="article-buttons">
			<%= link_to "My Profile", @user, class: "buttons" %>
			<%= link_to "Write an Article", new_user_article_path(@user), class: "buttons" %>
		</div>
	</div>
</div>
<h1>Edit Profile</h1>
<%= render 'form' %>

<% if @user.articles.count == 0 %>
	<h4>You have not written any articles.  <%= link_to "Would you like to write one?", new_user_article_path(@user) %></h4>
<% elsif %>
	<h3>Your Articles</h3>
	<% @user.articles.each do |article| %>
		<%= render partial: "articles/single", locals: { article: article }%>
	<% end %>
<% end %>