<div>
	<div class="right">
		<div class="bubble right">
			<%= image_tag(@user.image.url(:medium))%>
		</div>
		<div class="profile-page clear">
			<div id="video-screenshot">
				<%= render :partial => "users/video", locals: {user: @user}%>
			</div>
		</div>
		
		<div id="article-buttons">
			<%= link_to "Write an Article", new_user_article_path(@user), class: "buttons" %>
		</div>
	</div>
</div>
<h1>Edit Profile</h1>
<%= render 'form' %>

<h3>Your Articles</h3>
<% @user.articles.each do |article| %>
	<%= render partial: "articles/single", locals: { article: article }%>
<% end %>