<div>
<div class="profile-page left">
	<div class="bubble">
		<%= image_tag(@user.image.url(:medium))%>
	</div>
	<div id="video-screenshot">
		<%= render :partial => "users/video", locals: {user: @user}%>
	</div>
</div>
<div class="bio right">
	<h2><%= @user.name %></h2>
	<h4><%= @user.department %> - <%= @user.position %></h4>
	
	<% if @user.bio %>
		<%= simple_format @user.bio %>
	<% else %>
		<p><%= @user.name %> has not yet written a bio :( </p>
	<% end %>
	
	<% if current_user && current_user.is_admin? %>
		<%= link_to "Not a Staff Member", @user, class: "bubble", :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
</div>
<div class="clear"></div>
</div>