<div>
	<div class="left">
		<div class="profile-page">
			<div class="bubble">
				<%= image_tag(@user.image.url(:medium))%>
			</div>
			<div id="video-screenshot">
				<%= render :partial => "users/video", locals: {user: @user}%>
			</div>
		</div>
	
		<% @user.articles.each do |article| %>
			<%= render partial: "articles/single", locals: { article: article }%>
		<% end %>
	
	</div>
	
	<div class="right">
		<div class="bio">
			<h2><%= @user.name %></h2>
			<h4><%= link_to(@user.department.name, @user.department, class: "department") if @user.department %> - <%= @user.position %></h4>
			<% if @user.show_contact_info %>
				<h5><%= @user.email %></h5>
			<% end %>
	
			<% if @user.bio %>
				<%= simple_format @user.bio %>
			<% else %>
				<p><%= @user.name %> has not yet written a bio :( </p>
			<% end %>
		
			<% if @user == current_user %>
				<div id="article-buttons">
					<%= link_to "Write an Article", new_user_article_path(@user), class: "buttons" %>
				</div>
			<% end %>
	
			<% if current_user && current_user.is_admin? && @user != current_user %>
				<%= link_to "Not a Staff Member", @user, class: "bubble", :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
		</div>
	</div>
	<div class="clear"></div>
</div>