<p id="notice"><%= notice %></p>

<p>
  <b>Organization:</b>
  <%= @award.organization %>
</p>

<p>
  <b>Name:</b>
  <%= @award.name %>
</p>

<p>
  <b>Description:</b>
  <%= @award.description %>
</p>


<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
