<h1>Users</h1>
<%= link_to "New User", new_admin_user_path, class: "right" %>
<div class="pagination left"><%= will_paginate @users %></div>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr class="<%= "admin" if user.is_admin? %>">
    <td><%= link_to user.name, user %></td>
    <td><%= user.email %></td>
    <td><%= user.department.name if user.department %></td>
	<td>
		<%= form_for([:admin, user]) do %>
			<% if user != current_user && !user.is_admin? %>
				<%= submit_tag "Make an Admin", class: "buttons" %>
			<% elsif user != current_user && user.is_admin? %>
				<%= submit_tag "Remove Admin Status", class: "buttons" %>
			<% end %>
		<% end %>
	</td>
    <td><%= link_to "Remove this Account", admin_user_path(user), class: "buttons", :confirm => "This will remove #{user.name}. Are you sure?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="pagination"><%= will_paginate @users %></div>