<h1>Awards</h1>
<%= link_to 'New Award', new_admin_award_path, class: "right" %>
<div class="pagination left"><%= will_paginate @awards %></div>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @awards.each do |award| %>
  <tr>
    <td><%= award.name %></td>
    <td><%= link_to 'Edit', edit_award_path(award) %></td>
    <td><%= link_to 'Destroy', award, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<div class="pagination"><%= will_paginate @awards %></div>